.chat-main
  .main-top
    .main-top__left-box
      %h2.main-top__left-box__current-group
        = @group.name

      %ul.main-top__left-box__member-list
        Member：
        %li.main-top__left-box__member-list__member
          - @group.users.each do |user|
            = user.name

    = link_to 'Edit', "/groups/#{@group.id}/edit", class: 'main-top__edit-btn'
    
  .messages
    = render @messages
 
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
       